body{
	margin:auto;
}
.wrapper{
	margin: 0;
	padding: 0;
	width: 100%;
}
.header{
	background-color: white;
	/*height: 75px;*/


}
.header-wigth{	
	max-width: 70%;
	margin: 0 auto;
	display: flex;	
	justify-content: space-around;
}
.header-wigth__logo{
	align-self: center;
	
}
.header-wigth__logo img{
	margin-right: auto;
}
.header-wigth__separator{
	width: 100px;	
}


.header-wigth-menu{
	display: flex;
	background-color: white;
	padding: 0;
	flex-wrap: wrap;
	margin-left: auto;
	width: 490px;
	justify-content: space-around;

}
.header-wigth-menu__link{
	text-decoration: none;
	list-style-type: none;
	padding: 5px;
	color: #96a6a7;
	
}
.header-wigth-menu__link:hover{
	color: #e94e38;
}
.header-wigth__find-button{	
	background-color: #e2dee0;
	width: 75px;
	padding: 15px;
	display: flex;	
}
.header-wigth__find-button img{
	margin: auto;
}
.header-wigth__login-button{	
	background-color: #e94e38;
	/*width: 100%;*/
	padding: 20px 40px;
	color: white;
	width: 310px;
}
.header-wigth__login-button img{
	margin-right: 10px;
}

.find-event{
	background-image: url(img/dubai.png);
	height: 450px;
	width: 100%;
	margin: 0;
}

.find-panel{	
	width: 30%;
	margin: 0 auto;
	padding: 40px;


}

@import url('https://fonts.googleapis.com/css?family=Bubbler+One');

.find-panel__title{
	color: white;
	font-family: 'Bubbler One', sans-serif;
	text-align: center;

}
.find-panel__find-sity{
	width: 220px;
	border-radius: 20px 20px;
	overflow: hidden;
	background: url(img/font.png) no-repeat 190px 20px;
	background-color: #5e5e5e; 
	display: inline-block;

}

.find-panel__select{
	background-color: #5e5e5e;
	margin: 10px 10px;
	width: 170px;
	border-style: none;
	width: 250px;
	background: transparent;
	-webkit-appearance:none;
}
.find-panel__find-type-event{
	margin-left:23px;
	width: 220px;
	border-radius: 20px 20px;
	overflow: hidden;
	background: url(img/font.png) no-repeat 190px 20px;
	background-color: #5e5e5e; 
	display: inline-block;
}
.find-panel__search-by-name{
	width: 425px;
	border-radius: 20px 20px;
	background-color: #5e5e5e;
	padding: 10px 20px 10px 20px;
	margin: 10px 0;

}
.find-panel__find-button{
	display: inline-block;
	align-self: center;
	border-radius: 20px 20px;
	background-color: #e94e38;
	padding: 10px 10px;
	width: 100px;
	text-align: center;
	color: white;
	margin: 10px 170px;
}
.wrapper-body{
	width: 70%;
	margin: 0 auto;
	flex-grow: 1;
}
.filter{
	display: flex;
	justify-content: space-between;
}

.filter__menu{
	display: flex;
	justify-content: space-between;
	align-self: center;
	padding: 0;
	
}
.filter__menu-item{

	padding-right: 10px;
	list-style-type: none;
	
}
.filter__menu-item a{
	text-decoration: none;
	color: #96a6a7

}

.filter__select{
	/*border-radius: 1px solid black;*/
	display: flex;
	/*background-color: black;
	background: url(img/font.png) no-repeat 110px 5px;*/
	align-self: center;

}
.filter__select-item select{
	padding: 10px;
	align-self: center;	
	border-radius: 20px 20px;
	margin: 0 5px;
	-webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: transparent;
   border: 1px solid #e3e7e8;
  /* border: 1px solid #ccc;*/
   background: url(img/font2.png) 96% / 15% no-repeat #fff;
	color: red;

}
.filter__button-option{
	padding-right: 10px;
	
}
.filter__select-item button{
	padding: 10px;
	align-self: center;	
	border-radius: 20px 20px;
	margin: 0 5px;	
   border: 1px solid #e3e7e8;
   background: green;
   color: white;
}

.filter__objects{
	display: flex;

}
.filter__object-sign{
	color: #96a6a7;
	align-self: center;
	margin-right: 5px;
}
.filter__object-icons{
	/*background-color: black;*/
	display: flex;
	padding: 5px;
}
.filter__object-icons-item{
	border-radius: 20px 20px 20px 20px;
	background: green;
	margin: 0 5px;
	align-self: center;
	height: 40px;
	width: 40px;

}

.filter__img{
	margin: 10px 10px;

}
.filter__img-house{
	margin-left: 8px;
}
.filter__img-people{
	margin-left: 12px;
}
.filter__img-education{
	margin-left: 5px;
}
.filter__img-bus{
	margin-left: 11px;
}
.filter__img_grey{
	background: #b6c0c1;
}
.filter__img_green{
	background: green;

}
.filter__img_orange{
	background:orange;
}
.filter__img_purple{
	background: purple;
}

.top-event{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	
}
.top-event__item{
	display: flex;
	flex-wrap: wrap;
	margin: 40px 0 0 0;
	width: 210px;
	justify-content: center;
	position: relative;
}
.top-event__img{
	/*position: relative;*/
	height: 140px;
	
}
/*.top-event__img img{

	width: 210px;
	height: 150px;
}*/
.top-event__cost{
	position: absolute;
	background: #1baf5d;
	border-radius: 20px 20px;
	right: 10px;
	top: 10px;
	padding: 0 5px;
	color: white;
}
.top-event__separator-block_green{
	display: flex;
	/*margin-top: 0;*/
}
.top-event__icon{
	position: absolute;
	border-radius: 20px 20px 20px 20px;
	height: 50px;
	width: 50px;
	background: white;
	bottom: 30px;
	top: 120px;
	left: 75px;
}
.top-event__icon-color_green{

	position: absolute;
	border-radius: 20px 20px 20px 20px;
	margin-left: 3px;
	margin-right: 2px;
	margin-top: 3px;
	background: green;
}
.top-event__icon-color_green img{
	margin:7px;
}

.top-event__descriptions{
	padding: 10px 20px 0;
	background: yellow;
	color: #6d7887;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
}


.top-event__vision-agency{
	color: #2ab468;
	text-align: center;
	width: 100%;
	font-weight:750;
}
.top-event__likes span{
	margin-left: 3px;
}
.top-event__icon-color_orange{
	position: absolute;
	border-radius: 20px 20px 20px 20px;
	margin-left: 3px;
	margin-right: 2px;
	margin-top: 3px;
	background: orange;
}
.top-event__icon-color_orange img{
	margin:7px 10px 7px 7px;
}
.top-event__separator-block_orange{
	/*position: absolute;
	top: 125px;*/
	display: flex;
}
.top-event__long-beach{
	text-align: center;
	width: 100%;
	color: #f5b85b;
}
.top-event__separator-block_purple{
	/*position: absolute;
	top: 125px;*/
	display: flex;
}
.top-event__icon-color_purple{

	position: absolute;
	border-radius: 20px 20px 20px 20px;
	margin-left: 3px;
	/*margin-right: 2px;*/
	margin-top: 2px;
	background: purple;
}
.top-event__icon-color_purple img{
	margin: 7px 10px 6px;
}
.top-event__bus-trance{
	text-align: center;
	width: 100%;
	color: #9055a3;
}
.offer{
	margin-top: 60px;
}
.offer__title{
	/*width: 100%;*/
	text-align: center;
	line-height: 5px;
}
.offer__title p{
	color: #c8cecf;
}
.offer__list-icons{
	display: flex;
	margin: 40px 40px 30px;
	justify-content: space-between;
	

}
.offer__sepatator{
	height: 2px;
	background: gray;
	width: 100%;
	position: absolute;
	left: 105px;
	bottom: 52.5px;
	margin-left: 7px;
}
.offer__list-icons-border{
	border: 2px solid green;
	border-radius: 50px 50px 50px 50px;
	height: 105px;
	width: 105px;
}
.offer__list-icons-item{
	position: relative;
	border-radius: 50px 50px 50px 50px;
	/*background: yellow;*/
	height: 105px;
	width: 105px;
}
.offer__list-icons-item img{
	margin: 30px 15px 30px 25px;
}
.offer__list-icons img[src$="people.png"]{
	margin: 30px 20px 30px 32px;
}
.offer__list-icons img[src$="education.png"]{
	margin: 35px 15px 30px 25px;
}
.offer__list-icons img[src$="bus.png"]{
	margin: 30px 15px 35px 30px;
}
.offer__sign{
	text-align: center;
	color: green;
	font-weight: 800;
}
.offer__container-column{
	display: flex;
	
}
.offer__column{
	display: flex;
	align-items: center;	
}
.offer__reality-img{
	border-radius: 30px 30px 30px 30px;
	height: 60px;
	width: 60px;
	background: #1baf5d; 
	margin:0 40px;

}
.offer__reality-img img{
	margin: 15px 25px;
}
.offer__reality-text{
	color: #6b7686;
}
.offer__reality-img img[src$="lightning.png"]{
	margin: 15px 25px 15px 23px;
}
.offer__reality-img img[src$="leaf.png"]{
	margin: 15px 25px 15px 15px;
}

.footer{
	background-image: url(img/footer-img.png);
	margin-top: 50px;
	display: flex;
}
.wrapper-footer{
	background-image: url(img/footer-img-black.png);
	opacity: 0.7;
	width: 100%;
}
.footer__top{
	display: flex;
	justify-content: center;
	align-items: center;
}
.subscribe{
	margin: 40px 0;
	width: 490px;

}
.subscribe__title{
	color: white;
	font-weight: 800;
	text-align: center;
}
.subscribe__enter-mail{
	border-radius: 20px 20px;
	display: flex;
	height: 65px;
	background: #5a5453;
	color: white;
	align-items: center;
}
.subscribe__button{
	background: #e94e38;
	border-radius: 20px 20px;
	margin-right: 5px;
	margin-left: auto;
	height: 55px;
	width: 125px;
	display: flex;

}
.subscribe__button button{
	margin: auto;
	height: 52px;
	width: 100px;
	background: transparent;
	border-style: none;
	color: white;
	font-weight: 600;
}
.subscribe__img{
	margin-left: 30px;
	margin-right: 10px;
}
.subscribe__text{
	padding-bottom: 3px;
	margin-right: auto;
}
.footer__rectangle{
	width: 70%;
	background: #5d5a55;
	height: 2px;
	margin: 0 auto;
}
.footer__bottom{
	width: 70%;
	margin: 40px auto;
	color: white;
	display: flex;
	justify-content: space-between;
}
.footer__bottom-column{
	
	width: 100%;
}
.footer__bottom-title{
	font-weight: 600;
}
.footer__bottom-list{
	margin: 10px 0;
	padding: 0;
}
.footer__bottom-list img{
	margin-right: 10px;
}
.footer__bottom-list-item{
	list-style-type: none;
	color: #a8a6a3;
}
