.row{
position: relative;
background: #e7e6d4;
text-align:  left;
height: 50px;
}

.row__menu{
	position: absolute;
	width: 360px;
	left: 10px;
	top:10px;
	background: #ffffff; 
}

.row__menu li{
	display: table-cell;
  padding: 0 .7rem;
}

.ticker__photo{
  display: inline-block;
  margin: 0 1.5%;
  width: 30%;

	
}

.ticker__section{
	display: inline-block;
  	margin: 0 1.5%;
  	width: 20%;
  	vertical-align: top;
}


.ticker__title_huge{
	font-size: xx-large;
}

.footer {
  flex: 0 0 auto;
  background: green;
}

.col__item1,
.col__item2,
.col__item3 {
  width: 30%;
}
.col__item1,
 .col__item2,
  .col__item3 {
  display: inline-block;
  vertical-align: top;
}

.col,
.col__item1,
.col__item2,
.col__item3{
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  margin: 0 auto;
  width: 100%;

}

.col__item1 a{
	color: red;
	text-align: right;
	text-decoration: none;
}


.col__ServiceImg1{
	float: left;
	margin: 0 1.5%;
	
}
.col__ServiceTitle1{
	text-align: left;
	float: right;
	margin: 0 1.5%;
}