*{
	margin:0;
}

.header{

background: yellow;
text-align:  left;
position: fixed;
top: 0;
width: 99%;
padding-right: 30px;

}

.row__item a{
	text-decoration: none;

}
.row__item a:hover{
	color: red;

}
.row__item{
	list-style-type: none;

}

.row__menu li{
	float: left;
	display: table-cell;
	padding-left: 0;
  	padding: 0 5px; 
  	vertical-align: top;
  	padding-bottom: 5px; 
  	
}

 .header__input{
	float: right;
}

.main-menu{
	background: black;
	
	
}

.menu-nav{
	padding: 0;

}
.menu-nav__link{
	text-decoration: none;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	
	color: #fff;

}
.menu-nav__link:hover{
	color: red;

}

.menu-nav li{
	padding-right:40px;
	padding-left: 40px;
	
	display: table-cell;
	list-style-type: none;
  	/*padding: 0 .2rem;*/
}



.main-news{
	position: relative;
}

.main-news__photo{
	left: 0;
	position: absolute;
}
.main-news__info{
	top: 100px;
	left: 446px;
	position: absolute;
}

.main-news__link{
	text-align: left;
}

.day-news{
	padding-top: 470px;
}


.day-news__list-column1{
	display: inline-block;
}
.day-news__list-column2{
	display: inline-block;
}

.day-news__list-column3{
	display: inline-block;
}

.main{
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	flex-grow: 1;

	
}
.wrapperPage{

	height: 100%;
	display: flex;
	flex-direction: column;
}

.footer {
	text-align: left;	   
  background: green;
}

